.App {
    // font-family: 'Aircruiser', sans-serif;
    font-family: 'Alien League', sans-serif;

    font-size: 18px;
    padding-block: 2rem;
    background-color: $black;
    background-image: url("/bg.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    .home {
        max-width: 1200px;
        text-align: justify;
        // background-color: rgb(31, 66, 135, 0.3);
        background-color: rgb(7, 30, 61, 0.2);
        ;
    }
}

a {
    text-decoration: none;
    color: $light;

    &:hover {
        color: $light;
    }
}

.selfi {

    width: 100%;
    opacity: 0.6;

}

.h4,
.h2,
.h1 {

    background-color: rgb(31, 66, 135, 0.2);
    font-family: 'Aircruiser', sans-serif
}

.article {
    background-color: rgb(31, 66, 135, 0.1);
    padding: 8px;

}

.card {
    min-width: 145px;
}

.text-shadow-dark {
    text-shadow: 0 0 0.3rem $light, 0 0 0.5rem $black;
}

.text-shadow-dark-soft {
    text-shadow: 0 0 2.4rem $light;

}

.text-shadow-animated {

    animation-name: text-shadow-animated;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    text-shadow: 0 0 32px rgb(33, 230, 193, 0.5);
}

@keyframes text-shadow-animated {
    13% {
        text-shadow: 0 0 24px rgb(33, 230, 193, 0.3);
    }

    50% {
        text-shadow: 0 0 24px rgb(33, 230, 193, 0.3);

    }

    51% {
        text-shadow: 8px 8px 8px rgba(253, 135, 0, 0.3);

    }

    52% {
        text-shadow: 0 0 24px rgb(33, 230, 193, 0.3);

    }


    66% {
        text-shadow: 0 0 64px rgb(33, 230, 193, 0.4);
    }
}


.border-box-app {
    animation-name: border-box-app;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-timing-function: ease;
    box-shadow: 0 0 2rem 0.3rem $white,
        0 0 2rem 0.3rem $light,
        inset 0 0 2rem $white,
        inset 0 0 1rem $light,
        inset 0 0 300px$primary,
        inset 0 0 200px rgb(31, 66, 135, 0.5),
}

@keyframes border-box-app {
    50% {
        box-shadow:
            0 0 50px 0.5rem $white,
            0 0 100px 1rem $light,


            inset 0 0 1.5rem $white,
            inset 0 0 2rem $light,
            inset 0 0 200px$primary,
            inset 0 0 300px rgb(31, 66, 135, 0.5),
    }

    75% {
        box-shadow:
            0 0 100px 0.8rem $white,
            0 0 50px 0.5rem $light,
            inset 0 0 2rem $white,
            inset 0 0 1rem $light,
            inset 0 0 300px$primary,
            inset 0 0 200px rgb(31, 66, 135, 0.5),
    }
}

.border-box {
    box-shadow: 0 0 0.2rem $white,
        0 0 0.5rem $primary,
        0 0 0.8rem $secondary,
        0 0 1rem $dark,
        inset 0 0 0.2rem $white,
        inset 0 0 20px $white,
        inset 0 0 20px $light,
        inset 0 0 400px $primary,
        inset 0 0 500px rgb(31, 66, 135, 0.5),
        inset 0 0 500px rgb(31, 66, 135, 0.5),
}

.border-box-soft {
    padding: 1rem;
    box-shadow: 0 0 0.1rem $white,
        0 0 0.2rem $primary,
        0 0 0.3rem $secondary,
        0 0 0.5rem $dark,
        inset 0 0 0.1rem $white,
        inset 0 0 0.2rem $white,
        inset 0 0 0.5rem $light,
        inset 0 0 1rem $primary,
        inset 0 0 2rem rgb(31, 66, 135, 0.5),
}