.filterPic {
    box-shadow: 0 0 8px 2px $light;
    filter: blur(0px);
    animation-name: filterPic;
    animation-duration: 15s;
    animation-delay: 5s;
    animation-iteration-count: infinite;

}

@keyframes filterPic {


    49% {
        filter: blur(0px);

        @keyframes filterPic {
            50% {
                filter: blur(0px);
            }

            51% {
                filter: blur(3px);
            }

            55% {
                filter: blur(0px);
            }
        }

    }

    50% {
        filter: blur(3px);
    }

    51% {
        filter: blur(0px);
    }

    55% {
        filter: blur(0px);
    }

    57% {
        filter: blur(3px);
        filter: grayscale(100);
    }

    58% {
        filter: blur(0px);
        box-shadow: 0 0 10px 1px $light;
    }



    80% {
        filter: blur(0px);
    }

    81% {
        filter: blur(3px);
        filter: sepia(10);
    }

    82% {
        filter: blur(0px);
    }

}